@charset "UTF-8";
body, html {
  background: #f4f4f4;
  font-family: 'Unica One';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: white;
    text-decoration: none; }
  a:visited {
    color: white !important;
    text-decoration: none !important; }

.container-fluid, .container {
  margin: 0;
  padding: 0; }
  .container-fluid .row, .container .row {
    margin: 0 18px 0 18px;
    padding: 0; }
    @media only screen and (max-width: 768px) {
      .container-fluid .row, .container .row {
        margin: 0; } }

nav {
  position: fixed;
  top: 0;
  z-index: 100; }
  nav ul {
    list-style: none;
    margin-top: 45px; }
  nav li {
    letter-spacing: .1em;
    display: inline;
    font-size: 23px;
    margin: 30px; }
  nav a {
    color: white;
    text-decoration: none; }
  nav .buttonTop {
    position: fixed;
    text-align: center;
    width: 130px;
    height: 65px;
    background: transparent;
    font-size: 18px;
    color: white;
    top: 35px;
    right: 38px;
    border: 1px solid white;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 1024px) {
      nav .buttonTop {
        display: none !important; } }
    nav .buttonTop:hover {
      background: rgba(0, 0, 0, 0.3);
      color: white; }
  @media only screen and (max-width: 768px) {
    nav {
      display: none !important; } }

.wrapper {
  position: absolute;
  right: 18px;
  left: 18px;
  top: 18px;
  bottom: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: hidden;
  background-image: url("https://source.unsplash.com/FX1Mfd4iQ0c/2048├ù1278");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center; }
  @media only screen and (max-width: 768px) {
    .wrapper {
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background-position-x: 40%; } }
  .wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .wrapper header {
    position: absolute;
    color: white;
    text-align: center; }
    .wrapper header h1 {
      text-align: center;
      font-size: 110px;
      font-weight: bold;
      width: 70%;
      letter-spacing: .1em;
      margin: 0 auto;
      text-align: center; }
      @media only screen and (min-width: 1920px) {
        .wrapper header h1 {
          font-size: 134px; } }
      @media only screen and (max-width: 768px) {
        .wrapper header h1 {
          font-size: 60px; } }
  .wrapper .fa-angle-down {
    position: absolute;
    color: white;
    font-size: 70px;
    bottom: 0; }
    @media only screen and (max-width: 768px) {
      .wrapper .fa-angle-down {
        font-size: 45px; } }

.brandLeft {
  position: fixed;
  font-size: 30px;
  top: 78px;
  left: 18px;
  opacity: .9;
  padding: 15px;
  background: #52796F;
  display: none;
  z-index: 1000 !important; }
  @media only screen and (max-width: 768px) {
    .brandLeft {
      display: block;
      top: 28px;
      left: 28px;
      font-size: 28px;
      opacity: .7; } }

#textLeft {
  position: fixed;
  left: 0;
  top: 210px;
  letter-spacing: .3em;
  transform-origin: 45px;
  z-index: 1000 !important;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  @media only screen and (max-width: 768px) {
    #textLeft {
      display: none; } }

#iconsLeft {
  position: fixed;
  left: 18px;
  bottom: 44px;
  font-size: 20px;
  z-index: 1000 !important; }
  @media only screen and (min-width: 1920px) {
    #iconsLeft {
      bottom: 84px; } }
  #iconsLeft ul {
    list-style: none;
    padding-left: 0; }
  #iconsLeft li {
    margin-bottom: 30px;
    margin-left: 9px;
    padding: 9px 14px 9px 14px;
    text-align: center;
    cursor: pointer;
    opacity: .9;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }
    @media only screen and (max-width: 1024px) {
      #iconsLeft li {
        margin-bottom: 10px; } }
    #iconsLeft li:first-child:hover, #iconsLeft li:last-child:hover, #iconsLeft li:nth-child(2):hover, #iconsLeft li:nth-child(3):hover {
      transition: none !important;
      opacity: .8 !important; }
  #iconsLeft a {
    color: white; }
  @media only screen and (max-width: 768px) {
    #iconsLeft {
      display: none; } }

.hamburgerMenu {
  background: #52796F;
  position: fixed;
  font-size: 25px;
  padding: 15px;
  top: 28px;
  right: 28px;
  display: none;
  opacity: .7;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .hamburgerMenu {
      display: block; } }

.menu {
  position: fixed;
  right: 18px;
  top: 70px;
  width: 41px;
  padding: 6px 16px;
  font-size: 18px;
  font-weight: bold;
  opacity: .9;
  background: #52796F;
  margin: 3px 0;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 1000 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#stories {
  top: 110px;
  z-index: 1000 !important; }

#volumes {
  top: 150px;
  z-index: 1000 !important; }

#contribute {
  top: 190px;
  z-index: 1000 !important; }

#textRight {
  position: fixed;
  width: 231px;
  right: -77px;
  bottom: 23%;
  opacity: .9;
  transform-origin: 50%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 20px 0 0;
  z-index: 1000 !important;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
  @media only screen and (max-width: 768px) {
    #textRight {
      display: none; } }
  #textRight h4 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px; }

#transparentCover {
  position: relative;
  width: 100%;
  height: 100%; }

#aboutWrapper {
  text-align: center;
  padding: 40px 0 70px 0; }
  #aboutWrapper h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #354F52; }
    @media only screen and (max-width: 768px) {
      #aboutWrapper h1 {
        width: 85%;
        margin: 10px auto;
        font-size: 45px; } }
  #aboutWrapper p {
    font-size: 23px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px; }
    @media only screen and (max-width: 768px) {
      #aboutWrapper p {
        width: 90%;
        padding-bottom: 10px;
        font-size: 19px; } }

#fourSquareWrap {
  position: relative;
  height: auto;
  margin: 18px 18px 0 18px;
  background: #eaeaea;
  padding: 0; }
  @media only screen and (max-width: 768px) {
    #fourSquareWrap {
      margin: 0; } }
  #fourSquareWrap .imageRight {
    background: black;
    height: 450px;
    padding: 0; }
    @media only screen and (min-width: 1920px) {
      #fourSquareWrap .imageRight {
        height: 550px; } }
    @media only screen and (max-width: 768px) {
      #fourSquareWrap .imageRight {
        height: 300px; } }
    #fourSquareWrap .imageRight img {
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: 100%; }
  #fourSquareWrap h1 {
    width: 90%;
    margin: 65px auto 35px auto;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #354F52; }
    @media only screen and (min-width: 1920px) {
      #fourSquareWrap h1 {
        font-size: 75px;
        width: 70%;
        margin-bottom: 45px;
        margin-top: 85px; } }
    @media only screen and (max-width: 768px) {
      #fourSquareWrap h1 {
        margin-top: 50px;
        font-size: 45px; } }
  #fourSquareWrap hr {
    border-top: 3px solid dimgrey;
    width: 72%; }
  #fourSquareWrap p {
    width: 95%;
    margin: 25px auto;
    text-align: center;
    font-size: 25px;
    color: #333333; }
    @media only screen and (min-width: 1920px) {
      #fourSquareWrap p {
        font-size: 27px;
        margin-top: 30px;
        width: 90%; } }
    @media only screen and (max-width: 768px) {
      #fourSquareWrap p {
        margin-bottom: 50px;
        font-size: 22px; } }

.recentTitle {
  margin: 0 18px 0 18px;
  height: 400px;
  background: #2F3E46;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  padding: 0;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
  color: white;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .recentTitle {
      margin: 0; } }
  .recentTitle h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 60px;
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    padding: 20px;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .recentTitle h1 {
        font-size: 50px; } }
  .recentTitle .fa {
    position: absolute;
    text-align: center;
    font-size: 45px;
    bottom: 10px;
    left: 0;
    right: 0; }

.articles {
  background: grey;
  padding: 0;
  position: relative;
  height: 500px; }
  @media only screen and (min-width: 1920px) {
    .articles {
      height: 550px; } }
  @media only screen and (max-width: 768px) {
    .articles {
      height: 300px; } }
  .articles img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%; }
  .articles .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .2;
    z-index: 50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .articles .overlay h1 {
      text-align: center;
      font-size: 55px;
      font-weight: bold;
      margin-top: 0;
      color: white;
      display: none;
      margin-bottom: 5; }
    .articles .overlay h2 {
      color: white;
      display: none;
      font-size: 24px;
      text-align: center;
      margin-top: 0; }

#subscribe {
  height: 380px;
  background: #eaeaea;
  margin: 0 18px 0 18px; }
  @media only screen and (max-width: 768px) {
    #subscribe {
      margin: 0;
      height: 450px; } }
  #subscribe h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    color: #354F52; }
    @media only screen and (max-width: 768px) {
      #subscribe h1 {
        font-size: 45px;
        width: 80%;
        margin: 50px auto 0 auto; } }
  #subscribe h3 {
    text-align: center;
    margin-bottom: 40px; }
    @media only screen and (max-width: 768px) {
      #subscribe h3 {
        font-size: 22px; } }
  #subscribe input {
    padding: 12px;
    width: 400px;
    background: white;
    border: 1px solid #333333; }
    @media only screen and (max-width: 768px) {
      #subscribe input {
        width: 300px; } }

button {
  padding: 12px;
  width: 100px;
  background: transparent;
  border: 1px solid #354F52;
  margin-left: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 768px) {
    button {
      width: 150px;
      margin-top: 10px; } }
  button:hover {
    background: #354F52;
    color: white; }

footer {
  background: #2F3E46;
  margin: 0 18px 0 18px;
  height: auto;
  position: relative;
  z-index: -1;
  color: white; }
  @media only screen and (max-width: 768px) {
    footer {
      margin: 0; } }
  footer .footerBrand {
    float: left;
    padding: 60px 30px 110px 130px; }
    @media only screen and (min-width: 1920px) {
      footer .footerBrand {
        padding: 60px 30px 110px 170px; } }
    @media only screen and (max-width: 768px) {
      footer .footerBrand {
        padding: 10px 0 60px 0;
        width: 100%;
        text-align: center; } }
    footer .footerBrand h1 {
      font-size: 60px;
      font-weight: bold; }
      @media only screen and (max-width: 768px) {
        footer .footerBrand h1 {
          font-size: 40px; } }
    footer .footerBrand h4 {
      font-size: 18px;
      padding-left: 5px;
      color: #cecece; }
  footer .footerMenu {
    float: right;
    font-size: 17px;
    text-align: left;
    padding: 60px; }
    @media only screen and (min-width: 1920px) {
      footer .footerMenu {
        padding-left: 80px; } }
    @media only screen and (max-width: 768px) {
      footer .footerMenu {
        display: none; } }
    footer .footerMenu ul {
      padding: 0; }
    footer .footerMenu li {
      list-style: none;
      color: #cecece;
      cursor: pointer; }
      footer .footerMenu li:first-child {
        font-weight: bold;
        color: white; }
  footer #copyright {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 8px;
    border-top: 1px dashed #cecece;
    color: #cecece; }

/*# sourceMappingURL=styles.css.map */
