$break-xxlg: 2560px;
$break-xlg: 1920px;
$break-lg: 1440px;
$break-md: 1024px;
$break-sm: 768px;
$break-xs: 480px;

$white-smoke-background: #f4f4f4;
$dark-grey-accent: #333333;
$light-grey-accent: #eaeaea;
$subtitles-grey: #cecece;
$tasman-primary: #CAD2C5;
$light-green-primary: #52796F;
$dark-teal-primary: #354F52;
$dark-blue-primary: #2F3E46;

@mixin rotate($deg) {
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin bp-xlg {
  @media only screen and (min-width: $break-xlg) {
    @content;
  }
}

@mixin bp-lg {
  @media only screen and (max-width: $break-lg) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (max-width: $break-md) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (max-width: $break-sm) {
    @content;
  }
}

body, html {
  background: $white-smoke-background;
  font-family: 'Unica One';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container-fluid {
  margin: 0;
  padding: 0;
  .row {
    margin: 0 18px 0 18px;
    padding: 0;
  }
}

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  ul {
    list-style: none;
    margin-top: 45px;
  }
  li {
    letter-spacing: .1em;
    display: inline;
    font-size: 23px;
    margin: 30px;
    @include bp-xlg {
      font-size: 42px;
      margin: 70px;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  .buttonTop {
    position: fixed;
    padding: 25px 48px;
    background: transparent;
    font-size: 18px;
    color: white;
    top: 35px;
    right: 38px;
    border: 1px solid white;
    cursor: pointer;
    @include transition(all 0.3s ease-in-out);
    @include bp-xlg {
      padding: 45px 68px;
      font-size: 30px;
      top: 55px;
      right: 58px;
    }
    @include bp-md {
      display: none !important;
    }
    &:hover {
      background:rgba(0,0,0,.3);
      color: white;
    }
  }
  @include bp-sm {
    display: none !important;
  }
}

.wrapper {
  position: absolute;
  right: 18px;
  left: 18px;
  top: 18px;
  bottom: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: hidden;
  background: {
    image: url("https://source.unsplash.com/FX1Mfd4iQ0c/2048×1278");
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
    position: bottom center;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .2;
    @include transition(all 0.3s ease-in-out);
  }
  header {
    position: absolute;
    color: white;
    h1 {
      text-align: center;
      font-size: 120px;
      font-weight: bold;
      width: 70%;
      letter-spacing: .1em;
      margin: 0 auto;
      @include bp-xlg {
        font-size: 170px;
      }
    }
  }
  .fa-angle-down {
    position: absolute;
    color: white;
    font-size: 70px;
    bottom: 0;
  }
}

.brandLeft {
  position: fixed;
  font-size: 30px;
  top: 78px;
  left: 18px;
  opacity: .9;
  padding: 15px;
  background: $light-green-primary;
  display: none;
  @include bp-xlg {
    font-size: 40px;
    padding: 30px;
    top: 150px;
  }
}

#textLeft {
  position: fixed;
  left: 0;
  top: 210px;
  letter-spacing: .3em;
  transform-origin: 45px;
  @include rotate(-90deg);
  @include bp-sm {
      transform-origin: 0;
      letter-spacing: 0em;
      left: 35px;
      top: 15px;
      @include rotate(0deg);
  }
}

#iconsLeft {
  position: fixed;
  left: 18px;
  bottom: 44px;
  font-size: 20px;
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin-bottom: 30px;
    margin-left: 9px;
    padding: 9px 14px 9px 14px;
    text-align: center;
    cursor: pointer;
    opacity: .9;
    @include transition(all 0.7s ease-in-out);
    @include bp-xlg {
      margin-left: 20px;
      padding: 18px 28px 18px 28px;
    }
    @include bp-md {
      margin-bottom: 10px;
    }
    &:first-child, &:last-child, &:nth-child(2), &:nth-child(3) {
      &:hover {
        transition: none !important;
        opacity: .8 !important;
      }
    }
  }
  a {
    color: white;
  }
  @include bp-xlg {
    font-size: 40px;
    bottom: 150px;
  }
  @include bp-sm {
      display: none;
  }
}

 .menu {
    position: fixed;
    right: 18px;
    top: 70px;
    width: 41px;
    padding: 6px 16px;
    font-size: 18px;
    font-weight: bold;
    opacity: .9;
    background: $light-green-primary;
    margin: 3px 0;
    text-align: center;
    cursor: pointer;
    display: none;
    @include transition(all 0.3s ease-in-out);
    @include bp-xlg {
      top: 145px;
      padding: 12px 32px;
      font-size: 40px;
      width: 83px;
    }
  }

  #stories {
    top: 110px;
    @include bp-xlg {
      top: 235px;
    }
  }
  #volumes {
    top: 150px;
    @include bp-xlg {
      top: 325px;
    }
  }
  #contribute {
    top: 190px;
    @include bp-xlg {
      top: 415px;
    }
  }

#textRight {
  position: fixed;
  width: 231px;
  right: -77px;
  bottom: 23%;
  opacity: .9;
  transform-origin: 50%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 20px 0 0;
  @include transition(all 0.7s ease-in-out);
  @include rotate(90deg);
  @include bp-xlg {
    bottom: 20%;
    width: 430px;
    padding: 8px 15px;
    right: -140px
  }
  @include bp-sm {
      display: none;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    @include bp-xlg {
      font-size: 43px;
    }
  }
}

#transparentCover {
  position: relative;
  width: 100%;
  height: 100%;
}

#aboutWrapper {
  text-align: center;
  padding: 40px 0 70px 0;
  h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
    color: $dark-teal-primary;
    @include bp-xlg {
      font-size: 60px;
      margin-top: 50px;
    }
  }
  p {
    font-size: 23px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    @include bp-xlg {
      font-size: 26px;
      margin-bottom: 50px;
    }
  }
}

#fourSquareWrap {
  position: relative;
  height: auto;
  margin: 18px 18px 0 18px;
  background: $light-grey-accent;
  padding: 0;
  .imageRight {
    background: black;
    height: 500px;
    padding: 0;
    @include bp-xlg {
      height: 700px;
    }
    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  h1 {
    width: 90%;
    margin: 65px auto 35px auto;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: .1em;
    color: $dark-teal-primary;
    @include bp-xlg {
      font-size: 90px;
      width: 70%;
      margin-top: 75px;
      margin-bottom: 65px;
    }
  }
  hr {
    border-top: 3px solid dimgrey;
    width: 72%;
  }
  p {
    width: 95%;
    margin: 25px auto;
    text-align: center;
    font-size: 25px;
    color: $dark-grey-accent;
    @include bp-xlg {
      font-size: 38px;
      margin-top: 50px;
      width: 90%;
    }
  }
}

.recentTitle {
  margin: 0 18px 0 18px;
  height: 400px;
  background: $dark-blue-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  padding: 0;
  border-top: 5px solid $white-smoke-background;
  border-bottom: 5px solid $white-smoke-background;
  color: white;
  position: relative;
  @include bp-xlg {
    height: 600px;
  }
  h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 60px;
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    padding: 20px;
    @include bp-xlg {
      font-size: 70px;
    }
  }
  .fa {
    position: absolute;
    text-align: center;
    font-size: 45px;
    bottom: 10px;
    left: 0;
    right: 0;
    @include bp-xlg {
      font-size: 70px;
    }
  }
}

.articles {
  background: grey;
  padding: 0;
  position: relative;
  height: 500px;
  @include bp-xlg {
    height: 700px;
  }
  img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .2;
    z-index: 50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(all 0.2s ease-in-out);
    h1 {
      text-align: center;
      font-size: 55px;
      font-weight: bold;
      margin-top: 0;
      color: white;
      display: none;
      margin-bottom: 5;
    }
    h2 {
      color: white;
      display: none;
      font-size: 24px;
      text-align: center;
      margin-top: 0;
    }
  }
}

#subscribe {
  height: 380px;
  background: $light-grey-accent;
  margin: 0 18px 0 18px;
  @include bp-xlg {
    height: 580px;
  }
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    color: $dark-teal-primary;
    @include bp-xlg {
      margin-top: 150px;
      font-size: 70px;
    }
  }
  h3 {
    text-align: center;
    margin-bottom: 40px;
    @include bp-xlg {
      font-size: 27px;
    }
  }
  input {
    padding: 12px;
    width: 400px;
    background: white;
    border: 1px solid $dark-grey-accent;
    @include bp-xlg {
      width: 580px;
      height: 65px;
      &:placeholder {
        font-size: 30px;
      }
    }
  }
  button {
    padding: 12px;
    width: 100px;
    background: transparent;
    border: 1px solid $dark-teal-primary;
    margin-left: 3px;
    @include transition(all 0.3s ease-in-out);
    @include bp-xlg {
      height: 65px;
      width: 130px;
    }
    &:hover {
      background: $dark-teal-primary;
      color: white;
    }
  }
}

footer {
    background: $dark-blue-primary;
    margin: 0 18px 0 18px;
    height: auto;
    position: relative;
    z-index: -1;
    color: white;
    .footerBrand {
      float: left;
      padding: 60px 30px 110px 130px;
      @include bp-xlg {
        padding: 100px 30px 150px 300px;
      }
      h1 {
        font-size: 60px;
        font-weight: bold;
        @include bp-xlg {
          font-size: 70px;
        }
      }
      h4 {
        font-size: 18px;
        padding-left: 5px;
        color: $subtitles-grey;
        @include bp-xlg {
          font-size: 25px;
        }
      }
    }
    .footerMenu {
      float: right;
      font-size: 17px;
      text-align: left;
      padding: 60px;
      @include bp-xlg {
        font-size: 24px;
        padding-left: 150px;
        padding-top: 80px;
      }
      li {
        list-style: none;
        color: $subtitles-grey;
        &:first-child {
          font-weight: bold;
          color: white;
        }
      }
    }
    #copyright {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      padding: 8px;
      border-top: 1px dashed $subtitles-grey;
      color: $subtitles-grey;
      @include bp-xlg {
        font-size: 20px;
      }
    }
}
